
html
  head  
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css', rel='stylesheet'
    integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi', crossorigin='anonymous')
    title="Vista de Productos"
  body(class="m-5")
    button(type="button" class="btn btn-outline-dark")
      a(
        href='/'
      )='<- Ir al formulario'
    h2(class="my-3") Vista de Productos
    if productos.length == 0
      h4(class="alert alert-warning my-2")='No se encontraron productos'
    else 
      table(class="table table-success table-striped-columns")   
        tr 
          th='Titulo'
          th='Precio'
          th='Producto'
        each producto in productos 
          tr 
            td=producto.title
            td=producto.price
            td
              img(
                src=producto.thumbnail
              )